 # 들어가기

In [6]:
# 이것은 주석입니다.
age

'12'

ESC+M은 마크다운 셀, 한꺼번에 주석: ctrl+/

In [17]:
def calculate_sum(a,b):
    result = a+b
    return result
print("Hello")

Hello

In [18]:
calculate_sum(3,5)

8

# 표준 입력과 표준 출력

In [26]:
12345
10
# ipython 의 기본 라이브러리
# print(12345)

10

In [32]:
'12345' # 이거는 문자열

'12345'

In [31]:
#'12345'+10 #typeerror

In [33]:
input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요 김다은

'김다은'

In [34]:
input('당신의 나이를 입력하세여') # input으로 받으면 모두 문자

당신의 나이를 입력하세여 25

'25'

In [38]:
age=input('당신의 나이를 입력하시야')

당신의 나이를 입력하시야 30

In [39]:
age

'30'

In [40]:
name = input("입력받은 이름을 출력하세오")

입력받은 이름을 출력하세오 김다은

In [41]:
name

'김다은'

In [42]:
age,name

('30', '김다은')

In [43]:
print(age,name)

30 김다은

In [45]:
print('나는 ',name,'이고 나이는',age,'입니다.')ㄹ

나는  김다은 이고 나이는 30 입니다.

In [47]:
print('나는 '+name+'이고 나이는'+age+'입니다.')

나는 김다은이고 나이는30입니다.

In [48]:
int(age)

30

In [49]:
age= int(age)
age

30

# 연습

In [52]:
# 자신의 이름으로 삼행시

print('김:김밥천국에서')
print('다:다시마 빼달라고 했는데')
print('은:은근슬쩍 또 넣었네')

김:김밥천국에서
다:다시마 빼달라고 했는데
은:은근슬쩍 또 넣었네

In [53]:
line1= input('김:')
line2= input("다:")
line3= input("은:")
print(line1,line2,line3)

김: 김밥천국에서
다: 다시ㅏㅁ 빼달라니께
은: 은근슬쩍 넣는것봐 다신안가

김밥천국에서 다시ㅏㅁ 빼달라니께 은근슬쩍 넣는것봐 다신안가

In [55]:
print(line1,line2,line3,sep='!')

김밥천국에서!다시ㅏㅁ 빼달라니께!은근슬쩍 넣는것봐 다신안가

In [58]:
print(line1,line2,line3,sep='\n') # 줄바꿈기호: 이스케이프, 특수문자

김밥천국에서
다시ㅏㅁ 빼달라니께
은근슬쩍 넣는것봐 다신안가

In [60]:
삼행시 = line1+line2+line3
삼행시

'김밥천국에서다시ㅏㅁ 빼달라니께은근슬쩍 넣는것봐 다신안가'

In [62]:
삼행시 = line1+'\n'+line2+'\n'+line3
print(삼행시)

김밥천국에서
다시ㅏㅁ 빼달라니께
은근슬쩍 넣는것봐 다신안가

# 변수

변수 type safe   
변수를 선언할 떄 타입(유형)을 지정하지 않아도 되는 특성   
변수 = 값 # 마크다운 공백 3개를 넣으면 줄바꿈가능

## 변수 명명 규칙**
1. 문자, 숫자, 밑줄을 가지고 만든다.
2. 숫자로 시작하면 안된다
3. 대소문자를 구분한다
4. 예약어와 공백, 특수기호의 사용을 하면 안된다.

In [63]:
x=10
y='hello'
z=3.141592
type(x),type(y),type(z)

(int, str, float)

In [64]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [65]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [66]:
a=10
b=20
c=30

a=10;b=20;c=30

In [68]:
d= True # bool
e= None # type이 Nonetype
d,e

(True, None)

In [72]:
a= 10
b= a
print(a,b)

10 10

In [75]:
a= 20
b =20
print(a,b)

20 20

In [76]:
id(a),id(b) # 원래는 다르지만 파이썬은 성능 최적화를 위헤 미리 메모리에 올려주고 재사용: 작은 정수는 캐싱

(140715060399128, 140715060399128)

In [77]:
# 의미를 부여하기 어려운 변수명
x=100
y=100

# 의미가 있는 변수명
age=20
name='김다은'
user_name = 'Kim'

# 대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_CONNETION = 10
MIN_VALUE=0

# 변수의 유효범위

- 지역변수: 함수 영역 내에서 선언한 함수
- 전역변수: 함수 영역 밖에서 선언한 변수, global키워드
- 정적변수: 프로그램이 실행되는 동안 메모리에 계속 존재하는 변수

In [79]:
# 지역변수
def local_example():
    local_var=10
    print("여기는 함수의 영역입니다."+local_var)

local_var

NameError: name 'local_var' is not defined

In [80]:
# 지역변수
def local_example():
    local_var=10
    print("여기는 함수의 영역입니다.",local_var)

local_example()

여기는 함수의 영역입니다. 10

In [82]:
# 전역변수
gobal_var = '이것은 전역변수입니다.'

def gobal_example():
    print(gobal_var)

gobal_example()

이것은 전역변수입니다.

In [87]:
# 전역변수
global_var = '이것은 전역변수입니다.'

def global_example():
    global global_var
    global_var=100
    print(global_var)

global_example()
print(global_var)

100
100

In [105]:
# 변수 영역 연습
counter=0

def increament_counter():
    global counter
    counter +=1
    print('카운터:',counter)

increament_counter()
increament_counter()
increament_counter()

카운터: 1
카운터: 2
카운터: 3

# 교재 변수 연습

In [106]:
a=1
b='python'
c=[1,2,3]

In [108]:
a = [1,2,3]
b = a[:]
a[1] = 4
a
b

[1, 2, 3]

In [109]:
from copy import copy
a=[1,2,3]
b= copy(a)

In [110]:
b is a # 두 변수의 값은 같지만 서로 다른 객체를 가리키고 있음.

False

In [111]:
a,b = ('python','life')

In [113]:
[a,b] = ['python','life']

In [114]:
a = b = 'python'

In [115]:
a=3
b=5
a,b=b,a
a

5

In [116]:
b

3

# 자료형

- 기본자료형: 숫자형, 문자형, 부울형
- 복합자료형: 리스트, 셋, 튜플, 딕셔너리

| 자료형 | 설명 | 예시 |
|--------|--------|--------|
| 정수형 (int) | 정수를 저장하는 자료형 | 1, -5, 100 |
| 실수형 (float) | 소수점이 있는 숫자를 저장하는 자료형 | 3.14, -0.001, 2.0 |
| 문자열 (str) | 텍스트를 저장하는 자료형 | "Hello", '파이썬' |
| 논리형 (bool) | 참/거짓 값을 저장하는 자료형 | True, False |

In [ ]:
- 수정이 불가능한 데이터타입: 수치형(int)

In [118]:
age= 20
type(20)

int

1. 진법: 10,2,8,16 진수
2. 입력하는 방법은 다르지만, print()로 출력하면 결과는 동일합니다.

In [119]:
a=10
b=0b0101 #2진수
a,b

(10, 5)

In [127]:
# float

b = 3.12
type(b)

float

지수의 표기 

숫자e2 -> 10**2
숫자e-2 -> 10**-2

In [130]:
a = 1e2
a

100.0

In [133]:
# boolean- True(1), False(0) 
# 논리연산, 비교연산

a= True
b= true  # true는 변수임, 'true'라고 해햐함.

NameError: name 'true' is not defined

In [134]:
# 논리연산자 and or not
ba=True
bc = 1; ba and bc

1

In [138]:
# 사칙연산 +,-,*,//(몫),%(나머지)

a=2
b=3

print(a+b, a-b, a*b, a//b, a%b)

5 -1 6 0 2

In [139]:
# 비교연산자

1+2 !=3

False

In [140]:
# 대입연산자
a = 120
b= a+2

print(a,b)

120 122

# 문자열 str 
','',"""""",''' ''' dorstring

In [141]:
a= 'python'
b= 'hello'
a + b

'pythonhello'

In [142]:
a*10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [143]:
# 문자열에서도 비교연산이 가능하다. # 문자열은 리스트, 열거형

In [146]:
a= '20019ds5f9d65d'
a[3:]

'19ds5f9d65d'